<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Perfil Profesor</title>
</head>
<body>
    <h1>Perfil del Profesor</h1>
    <p>Nombre: <%= profesor.nombre %></p>
    <p>Apellido: <%= profesor.apellido %></p>
    <p>DNI: <%= profesor.dni %></p>
    <p>Email: <%= user.email %></p>
    <a href="/logout">Cerrar sesión</a>
</body>
</html>
